@import "tailwindcss/base";
@import "tailwindcss/components";
@import "tailwindcss/utilities";
@import "app.css"

@layer base {
    h4 {
        @apply text-xl my-2;
    }
    p {
        @apply mb-1;
    }
}

body {
  background-image: url('../images/nebula.jpg');
  background-size: cover;
  background-attachment: fixed;
  /* get rid of unwanted horizontal scrollbar */
  overflow-x: hidden;
}


/* Menu-toggle button */
.menu {
    display: none;
}

#menu-toggle:checked ~ .menu {
    display: block;
}

