<footer class="bg-gray-100 w-screen">
  <div class="container mx-auto py-2 mb-2">
      <h1 class="text-center text-sm mb-4 mt-2 text-tml-blue font-bold">Contact us: <a href="mailto:admin@three-minute-learning.org"> admin@three-minute-learning.org
        </a></h1>
    <div class="flex flex-no-wrap items-center justify-between">
        <div class="w-4/12 md:w-3/12 pr-1">
          <img class="object-scale-down mx-auto" src="https://3ml.org.uk/img/stfc.png" alt="STFC Logo">
        </div>
        <div class="w-3/12 md:w-2/12 px-3">
          <img class="object-scale-down mx-auto" src="https://3ml.org.uk/img/sserc.png" alt="SSERC Logo">
        </div>
        <div class="w-4/12 md:w-3/12 px-3">
          <img class="object-scale-down mx-auto" src="https://3ml.org.uk/img/gu.png" alt="Glasgow University Logo">
        </div>
        <div class="w-3/12 md:w-2/12 md:px-3">
          <img class="object-scale-down mx-auto" src="https://3ml.org.uk/img/rae.png" alt="Royal academy of Engineering Logo">
        </div>
        <div class="w-3/12 md:w-2/12 px-3">
          <img class="object-scale-down mx-auto" src="https://3ml.org.uk/img/ukspaceagency.png" alt="UK Space Agency Logo">
        </div>
        <div class="w-2/12 md:w-2/12 px-2">
          <img class="object-scale-down mx-auto" src="https://3ml.org.uk/img/realscience.png" alt="Real Science Logo">
        </div>
        <div class="w-3/12 md:w-2/12 px-2">
          <img class="object-scale-down mx-auto" src="https://3ml.org.uk/img/afa.png" alt="Awards for All Logo">
        </div>
    </div>
  </div>
</footer>
