{{ define "main" }}
<div class="flex flex-wrap">
    <h1 class="shadow-md mb-6 w-full font-medium text-2xl text-green-100 tracking-wide text-center bg-green-600 p-2">
        Three Minute Learning helps develop literacy skills and promotes real science
    </h1>
    <blockquote class="w-full mb-6 p-3 md:px-6 text-center md:text-left space-y-2 text-lg font-medium shadow rounded">
      <p class="italic">"What I like most is the genuine connection between skills for reading and scientific concepts and language."</p>
      <p><span class="font-bold">Sophie Davies</span>, Twyford Primary School</p>
    </blockquote>
    <h2 class="shadow-md mb-6 md:mb-1 lg:mb-6 w-full font-medium text-lg text-green-100 tracking-wide text-center bg-green-600 p-2">
        How 3ml works
    </h2>
    {{- $image := resources.Get "images/timthumbs.jpg" }}
    {{- $image = $image.Resize "800x webp"}}
    <video controls class="w-full md:w-1/2 mb-6" poster="{{ $image.RelPermalink }}">
        <source src="https://www.realscience.org.uk/3ml/vids/timpeake.mp4" type="video/mp4">
        Your browser does not support the video tag.
    </video>
    <div class="w-full md:w-1/2 mt-1 mb-6 md:p-6 text-lg text-justify">
        <p class="mb-3">
            First your learners read a very short story, chosen - by you or them - from over 1000 in our library.
            Then they complete four activities to help them understand and remember what they've read.
        </p>
        <p>If you haven't used 3ml before, please take a look at the short videos on our <a href="/guidance/">Guidance page</a>.</p>
    </div>
    <div class="w-full mb-6 h-40">
        <a class="relative block w-full h-full text-gray-100 hover:text-gray-400" href="/app/#/register" target="_blank">
            <img class="inline-block object-top object-cover h-full w-full rounded" src="https://images.nasa.gov/images/landing_bg.jpg" alt="stars">
            <div class="absolute inset-0 tracking-wider text-center mt-10">
                <div class="text-2xl bold">Sign up and try it out!</div>
                <p class="text-xl mt-1">3ml is free to use!</p>
            </div>
        </a>
    </div>
    <div class="mb-6 text-xl">
        <p class="text-xl">If you are home educating and looking for help with literacy and STEM please contact us at <a href="mailto:admin@three-minute-learning.org">admin@three-minute-learning.org</a></p>
    </div>
    {{- $cdn := $.Site.Params.cdn }}
    <div id="storytiles" class="flex flex-wrap w-full -mx-1">
        <div class="w-1/2 md:w-1/4 mb-2 h-32 lg:h-40 px-1">
            <a href="/app/#/stories/1142" class="relative block shadow w-full h-full" title="Where I belong">
              <img class="object-cover h-full w-full rounded" src="{{ $cdn }}/thumbs/senseofcertainty.webp" alt="Jane Goodall with a chimpanzee">
            <h3 class="absolute px-2 pt-1 top-0 text-sm font-bold text-gray-100">Where I belong</h3>
          </a>
        </div>
        <div class="w-1/2 md:w-1/4 mb-2 h-32 lg:h-40 px-1">
            <a href="/app/#/stories/864" class="relative block shadow w-full h-full" title="Hardy Martians">
            <img class="object-cover h-full w-full rounded" src="{{ $cdn }}/thumbs/57cc899bda43d.webp" alt="Man in spacesuit on Mars">
                <h3 class="absolute px-2 pt-1 top-0 text-sm font-bold text-gray-100">Hardy Martians</h3>
            </a>
        </div>
        <div class="w-1/2 md:w-1/4 mb-2 h-32 lg:h-40 px-1">
            <a href="/app/#/stories/897" class="relative block shadow w-full h-full" title="Dog TV">
            <img class="object-cover h-full w-full rounded" src="{{ $cdn }}/thumbs/5857d12062485.webp" alt="A dog watching television">
            <h3 class="absolute px-2 pt-1 top-0 text-sm font-bold text-gray-100">Dog TV</h3>
          </a>
        </div>
        <div class="w-1/2 md:w-1/4 mb-2 h-32 lg:h-40 px-1">
            <a href="/app/#/stories/876" class="relative block shadow w-full h-full" title="Under the sea">
              <img class="object-cover h-full w-full rounded" src="{{ $cdn }}/thumbs/57cf2264371b8.webp" alt="Mountains under the sea">
            <h3 class="absolute px-2 pt-1 top-0 text-sm font-bold text-gray-100">Under the sea</h3>
          </a>
        </div>
    </div>
</div>
{{ end }}
